@font-face{
    src: url("font/OpenSans-Bold.ttf");
}
@font-face{
    src: url("font/OpenSans-BoldItalic.ttf");
}
@font-face{
    src: url("font/OpenSans-ExtraBold.ttf");
}
@font-face{
    src: url("font/OpenSans-ExtraBoldItalic.ttf");
}
@font-face{
    src: url("font/OpenSans-Italic.ttf");
}
@font-face{
    src: url("font/OpenSans-Light.ttf");
}
@font-face{
    src: url("font/OpenSans-LightItalic.ttf");
}
@font-face{
    src: url("font/OpenSans-Regular.ttf");
}
@font-face{
    src: url("font/OpenSans-Semibold.ttf");
}
@font-face{
    src: url("font/OpenSans-SemiboldItalic.ttf");
}

#loadHorario{
    -fx-background-color:#ffffff;
    -fx-opacity: 0.85;
}
/*Painel do Usuário*/
#pane-user{
    -fx-background-color: #C4D3E8;
    -fx-padding:0;
}
/*Fim Painel*/
#image-user{
    -fx-border-radius: 23;
    -fx-arc-height: 5;
    -fx-arc-width: 5;
}
/*Botão desconectar*/

.mainFxmlClass {
    -fx-background-image: url("image/background.png");
    -fx-background-repeat: repeat;
    -fx-background-color: #a6b5c9,linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
}

.label{
    -fx-text-fill:#FFFFFF;
    -fx-background-color: transparent;
    -fx-font-family: 'Open Sans Light';
}

.radio-button{
    -fx-text-fill:white;
}

.button{
    -fx-font-family: 'Open Sans Light';
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-text-alignment: center;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}

.button:hover , .button:focused     {
    -fx-font-family: 'Open Sans Light';
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(#d5faff 0%, #f3f3f3 50%, #ececec 51%, #e4fbff 100%);
    -fx-text-alignment: center;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #242d35;
    -fx-padding: 10 20 10 20;
}

.text-field{
    -fx-font-family: 'Open Sans Light';
}
.combo-box{
    -fx-font-family: 'Open Sans Light';
}

.color-picker-label{
    -fx-text-fill: black;
}
/*Tab pane inicio*/
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 1;
    -fx-background-color: #8297B2;
}

.tab-pane{
    -fx-tab-min-width:150px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab{
    -fx-background-color: #435D7F;
    -fx-font-family:'Open Sans Light';
}

.tab-pane .tab:selected{
    -fx-font-family:'Open Sans Semibold';
    -fx-background-color: #8297B2;
    -fx-border-style: none;
    -fx-border-color: transparent;
}

.tab-pane .tab:hover{
    -fx-background-color: #95ADCC;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}
/*Tab Pane fim*/

/*Tabelas*/
.cell{
    -fx-font-family: 'Open Sans Light';
}

.table-view .column-header{
    -fx-background-color: #8297B2;
}

.table-view .cell-selection:selected{
    -fx-background-color: #6EADFF;
    -fx-text-fill: #ff0000;
    -fx-font-family: 'Open Sans Light';
}


/*Fim Tabelas*/

/*Configurango gráfico de linha*/
.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 20px;
}

.chart-series-line {    
    -fx-stroke-width: 1px;
}

.default-color0.chart-line-symbol { 
    -fx-background-color: #ff3333, #ff3333;
    -fx-background-radius: 5px;
    -fx-padding: 3px;
}

.default-color1.chart-line-symbol { 
    -fx-background-color: #ffff33, white; 
    -fx-background-radius: 0px;
    -fx-padding: 2px;
}

.default-color2.chart-line-symbol { 
    -fx-background-color: #33ff33, white;
    -fx-background-radius: 0px;
    -fx-padding: 2px;
}

.default-color0.chart-series-line { 
    -fx-stroke: #ff3333;
}

.default-color1.chart-series-line { 
    -fx-stroke: #ffff33;
}

.default-color2.chart-series-line { 
    -fx-stroke: #33ff33;
}

/*Configurando gráfico de barra*/
.default-color0.chart-bar{
    -fx-background-color: #ff3333;
}

.default-color1.chart-bar{
    -fx-background-color: #ffff33;
}

.default-color2.chart-bar{
    -fx-background-color: #33ff33;
}

/*Doc estilo MAC*/
.menu-doc{
    -fx-background-color:transparent;
    -fx-alignment: CENTER;
    -fx-alignment-adjust: central;
}

.menu-doc-button{
    -fx-background-color:transparent;
    -fx-text-fill:#ffffff;
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
    -fx-font-size:125%;
    -fx-content-display: top;
    -fx-margin-rigth:15%;
}

.image-doc{
    -fx-fit-width:70px;
    -fx-fit-height:58px;
}

.menu-doc-button:hover ,.menu-doc-button:focused  {
    -fx-background-color:transparent;
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
    -fx-text-fill:#FFFFFF;
    -fx-font-size:150%;
}
/*Fim doc MAC*/

/*
Menus item para popup*/
.menu-item{
    -fx-background-color:#8297B2;
}

.context-menu{
    -fx-background-color:#8297B2;
}
/*Date Picker*/

.date-picker .label{
    -fx-text-fill: #090a0c;
}
/*Especificos*/

.pane-transparent{
    -fx-background-color: transparent;
}

.logo{
    -fx-text-fill:#ffffff;
    -fx-font-size:25px;
    -fx-graphic: url("image/logo.png");
}

.label-preto{
    -fx-text-fill: #000000;
}

.check-box{
    -fx-text-fill: #ffffff;
}

.labelDrag{
    -fx-background-color: #ffffff;
    -fx-text-fill: #090a0c;
}

.button-selected{
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(#d5faff 0%, #f3f3f3 50%, #ececec 51%, #e4fbff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Open Sans Light";
    -fx-background-radius: 5,4,3,5;
    -fx-padding: 10 20 10 20;
    -fx-text-fill: #242d35;
}




.fonte-preta .label{
    -fx-text-fill:black;
}

.logout{
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
    -fx-padding: 0px;
}

.logout:hover{
    -fx-background-color: transparent;
}

/*Fim do botao desconectar*/

.label-branco{
    -fx-text-fill: white;
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.error .text-field{
    -fx-text-fill:red;
}

.certo .text-field{
    -fx-text-fill:black;
}

.tabelaImpressao{

}

.tabelaImpressao .column-header{
    -fx-background-color: #ffffff;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0.5px;
}

.tabelaImpressao .column-header .label{
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.tabelaImpressao .cell-selection:selected{
    -fx-background-color: #6EADFF;
    -fx-text-fill: #ff0000;
}